<html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
<p>

Автоплатеж - автоматическая система пополнения баланса, необходим для проезда платных участков без задержки и очередей <br><br>

Продолжая, вы даёте согласие на автоматическое снятие средств для пополнения внутреннего кошелька

</p>

<center>
<form id="form" action="https://wpay.uniteller.ru/pay/" method="POST">
<input type="hidden" name="Shop_IDP" value="{{Shop_ID}}">
<input type="hidden" name="Order_IDP" value="{{Order_ID}}">
<input type="hidden" name="Lifetime" value="3600">
<input type="hidden" name="Customer_IDP" value="{{ Customer_IDP }}">
<input type="hidden" name="Signature" value="{{ Signature }}">
<input class="btn btn-success mx-auto" type="submit" name="Submit" value="Продолжить">
<input type="hidden" name="Card_Registration" value="1">
<input type="hidden" name="URL_RETURN_OK" value="https://numpass.com/card/register/ok/"> 
<input type="hidden" name="URL_RETURN_NO" value="https://numpass.com/card/register/fail/"> 
</form>
</center>
</div>
</body>
</html>
