{% extends "bootstrap/wrapper.html" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">


  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3>Сеансы парковок</h3>
  </div>

  {{ list }}
  {{ object_list }}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ГНЗ</th>
        <th scope="col">Время въезда</th>
        <th scope="col">Время выезда</th>
        <th scope="col">Parking ID</th>
        
      </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for item in object_list %}
                <tr>
                    <th>{{item.id}}</th>
                    <td>{{item.carnumber.number}}</td>
                    <td>{{item.begin_time}}</td>
                    <td>{{item.finish_time}}</td>
                    <td>{{item.parking_id}}</td>
                </tr>
            {% endfor %}

        {% else %}
        <tr>Элементы отсутствуют</tr>
        {% endif %}
      
    </tbody>
  </table>





<div class="text-center">
  <p>Страницы</p>

  {% if object_list.list.has_previous %}
    <a href="?page={{ object_list.previous_page_number }}">Назад</a>
  {% endif %}


  {% for num in object_list.list.paginator.page_range %}

      {% if object_list.list.number == num %}
      <span>{{ num }}</span>
      {% elif num > object_list.list.number|add:'-3' and num < object_list.list.number|add:'3' %}
      <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}

  {% endfor %}

  {% if object_list.list.has_next %}
    <a href="?page={{ object_list.list.next_page_number }}">Далее</a>
  {% endif %}


</div>


{% load static %}
<script src="{% static 'js/tablesorter/tablesorter.js' %}" charset="utf-8"></script>
<script src="{% static 'js/tablesorter/tablesorter-widget.js' %}" charset="utf-8"></script>

<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>


{% endblock %}
